.new{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
}

.title-new {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.title-new h1 {
  position: inherit;
}

.container-new {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  /* border: rgba(180, 214, 43, 0.6) solid 5px; */
  width: 95%;
  border-radius: 10px;
}

@keyframes imagenew {
  0% {
      width: inherit;
      height: inherit;
  }

  100% {
      width: 510px;
      height: 340px;
  }
}

.image-new {
  background-color: rgba(92, 67, 106, 0.8);
  animation-name: imagenew;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  border-radius: 10px;
  width: 510px;
  height: 340px;
  /*margem para correcao no navegador opera*/
  margin-left: 30px;
  margin-right: 30px;
}

@keyframes screen {
  0% {
      width: 510px;
      height: 340px;
  }

  100% {
      width: inherit;
      height: inherit;
  }
}

.screen {
  background-color: rgba(92, 67, 106, 0.95);
  border-radius: 10px;
  animation-name: screen;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  color: white;
}

.image-new:hover {
  box-shadow: 0px 0px 10px 2px white;
}

.screen:hover {
  box-shadow: 0px 0px 5px 1px white;
}

.image-new img {
  border-radius: 10px;
  width: 280px;
  height: 280px;
  margin: 20px;
  float: left;
}

.screen img {
  border-radius: 10px;
  width: 300px;
  height: 300px;
  margin: 20px;
  float: left;
}

@keyframes imagenewp {
  0% {
      height: inherit;
      overflow: hidden;
  }

  100% {
      height: 80%;
      overflow: hidden;
  }
}

.image-new p {
  animation-name: imagenewp;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  /* height: 80%; */
  overflow: hidden;
  font-size: 16px;
  margin-left: 1%;
  margin-right: 1%;
  white-space: pre-line;
  color: white;
}

@keyframes textp {
  0% {
      /* height: 80%; */
      overflow: hidden;
  }

  100% {
      /*retirado por conta do mozilla. erro que a altura bugava e o botao ficava entre os textos ou fora do box*/
      /* height: inherit; */
      overflow: inherit;
  }
}

.screen p {
  animation-name: textp;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  font-size: 16px;
  margin-left: 1%;
  margin-right: 1%;
  white-space: pre-line;
}

/* @media (min-width: 1400px) {
  .screen p {
      font-size: 18px;
  }
} */

/* @media (min-width: 1680px) {
  .screen p {
      font-size: 24px;
  }
} */

.btn-new {
  margin-right: 10px;
  border-radius: 10px;
  background-color: transparent;
  float: right;
  border: none;
  font-size: 18px;
}

@media (min-width: 1400px) {
  .btn-new {
      font-size: 22px;
  }
}

@media (min-width: 1680px) {
  .btn-new {
      font-size: 24px;
  }
}

.active {
  margin-right: 10px;
  border-radius: 10px;
  background-color: transparent;
  float: right;
  border: none;
  font-size: 18px;
  display: none;
}

@media (min-width: 1400px) {
  .active {
      font-size: 22px;
  }
}

@media (min-width: 1680px) {
  .active {
      font-size: 24px;
  }
}

.active:hover {
  text-decoration: underline;
}

.active.back {
  display: inherit;
}

.btn-new:hover {
  text-decoration: underline;
}

/* inicio hd */
@media screen and (max-width: 760px) and (max-height: 1300px) {
  /* media destaques */
  
  @keyframes imagenew {
    0% {
        width: inherit;
        height: inherit;
    }
  
    100% {
        width: 400px;
        height: 300px;
    }
  }
  
  .image-new {
    width: 400px;
    height: 300px;
  }
  
  @keyframes screen {
    0% {
      width: 400px;
      height: 300px;
    }
  
    100% {
        width: inherit;
        height: inherit;
    }
  }
  
  .image-new img {
    width: 150px;
    height: 150px;
    margin: 20px 10px 0px 10px;
    float: left;
  }
  
  .screen img {
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin: 20px 10px 0px 10px;
    float: left;
  }
  
  @keyframes imagenewp {
    0% {
        height: inherit;
        overflow: inherit;
    }
  
    100% {
        height: 80%;
        overflow: hidden;
    }
  }

  @keyframes textp {
    0% {
        height: 80%;
        overflow: hidden;
    }
  
    100% {
        /*retirado por conta do mozilla. erro que a altura bugava e o botao ficava entre os textos ou fora do box*/
        height: inherit;
        overflow: inherit;
    }
  }
  
  .image-new p {
    animation-name: imagenewp;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    height: 80%;
    overflow: hidden;
    font-size: 16px;
    margin-left: 1%;
    margin-right: 1%;
    white-space: pre-line;
  }
  
  .screen p {
    animation-name: textp;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    font-size: 16px;
    margin-left: 3%;
    margin-right: 3%;
    white-space: pre-line;
  }
  /* media destaques */
}
/* fim hd */

footer {
  /* margin-top: 1%; */
  height: 40px;
  background-color: rgba(92, 67, 106, 0.97);
  position: fixed;
  bottom: 0px;
  width: 100%;
}

footer p {
  margin-top: 18px;
  margin-bottom: 0px;
  margin-left: 20px;
  float: left;
  font-size: 18px;
}

/* inicio hd */
@media screen and (max-width: 760px) and (max-height: 1300px) {
  footer {
    margin-top: 1%;
    height: 40px;
    background-color: rgba(92, 67, 106, 0.97);
  }
  
  footer p {
    position: relative;
    top: 55%;
    margin: 0px;
    float: left;
    font-size: 14px;
  }
}
/* fim hd */

::-webkit-scrollbar {
  width: 8px;
}

/* ::-webkit-scrollbar-track {
  background: rgb(187, 160, 90);
} */

::-webkit-scrollbar-thumb {
  background: rgba(58, 95, 111, 0.6);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(58, 95, 111); 
}